USE [master]
GO
/****** Object:  Database [QUANLIBANHANG]    Script Date: 12/28/2019 3:05:58 PM ******/
CREATE DATABASE [QUANLIBANHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLIBANHANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QUANLIBANHANG.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QUANLIBANHANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QUANLIBANHANG_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLIBANHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLIBANHANG]
GO
/****** Object:  UserDefinedFunction [dbo].[MuaHang]    Script Date: 12/28/2019 3:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[MuaHang] (@MaSP nvarchar(15),@SoLuongMua int)
returns int
begin
	declare @s int,@t int
	set @t=( select SoLuong from SanPham where MaSP=@MaSP )
	set @s=@t-@SoLuongMua
	return @s
end

GO
/****** Object:  Table [dbo].[ChiTietChungTuBan]    Script Date: 12/28/2019 3:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietChungTuBan](
	[MaCT] [nchar](10) NULL,
	[MaHang] [nchar](10) NULL,
	[TenHang] [nvarchar](50) NULL,
	[KhoHang] [nvarchar](50) NULL,
	[DVT] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
	[ThanhTien] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietChungTuMua]    Script Date: 12/28/2019 3:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietChungTuMua](
	[MaCT] [nchar](10) NULL,
	[MaHang] [nchar](10) NOT NULL,
	[TenHang] [nvarchar](150) NULL,
	[KhoHang] [nvarchar](50) NULL,
	[DVT] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
	[ThanhTien] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietHoaDonBan]    Script Date: 12/28/2019 3:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDonBan](
	[MaHD] [nvarchar](15) NOT NULL,
	[MaSP] [nvarchar](15) NULL,
	[TenSP] [nvarchar](100) NULL,
	[DonVi] [nchar](10) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
	[ThanhTien] [float] NULL,
	[GhiChu] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietHoaDonNhap]    Script Date: 12/28/2019 3:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDonNhap](
	[MaHD] [nvarchar](15) NOT NULL,
	[MaSP] [nvarchar](15) NULL,
	[TenSP] [nvarchar](100) NULL,
	[DonVi] [nchar](10) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
	[ThanhTien] [float] NULL,
	[GhiChu] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietPhieuChuyenKho]    Script Date: 12/28/2019 3:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuChuyenKho](
	[MaSP] [nvarchar](15) NOT NULL,
	[TenSP] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_ChiTietPhieuChuyenKho] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChungTuBan]    Script Date: 12/28/2019 3:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChungTuBan](
	[MaCT] [nchar](10) NOT NULL,
	[Ngay] [date] NULL,
	[PhieuVietTay] [nvarchar](50) NULL,
	[HoaDonVietTay] [nvarchar](50) NULL,
	[NhaCungCap] [nvarchar](50) NULL,
	[CK] [float] NULL,
	[VAT] [float] NULL,
	[ThanhToan] [float] NULL,
	[GhiChu] [nvarchar](250) NULL,
 CONSTRAINT [PK_ChungTuBan] PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChungTuMua]    Script Date: 12/28/2019 3:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChungTuMua](
	[MaCT] [nchar](10) NOT NULL,
	[Ngay] [date] NULL,
	[PhieuVietTay] [nvarchar](50) NULL,
	[HoaDonVietTay] [nvarchar](50) NULL,
	[NhaCungCap] [nvarchar](50) NULL,
	[CK] [float] NULL,
	[VAT] [float] NULL,
	[ThanhToan] [float] NULL,
	[GhiChu] [nvarchar](250) NULL,
 CONSTRAINT [PK_ChungTuMua] PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhSachPhieuChi]    Script Date: 12/28/2019 3:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachPhieuChi](
	[Phieu] [nchar](20) NULL,
	[MaCT] [nchar](10) NULL,
	[Ngay] [date] NULL,
	[KhachHang] [nchar](10) NULL,
	[SoTien] [float] NULL,
	[ConNo] [float] NULL,
	[DaTra] [float] NULL,
	[NhanVien] [nvarchar](15) NULL,
	[GhiChu] [nvarchar](150) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhSachPhieuThu]    Script Date: 12/28/2019 3:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachPhieuThu](
	[Phieu] [nchar](10) NULL,
	[Ngay] [datetime] NULL,
	[MaCT] [nchar](10) NULL,
	[KhachHang] [nvarchar](50) NULL,
	[SoTien] [float] NULL,
	[ConNo] [float] NULL,
	[DaTra] [float] NULL,
	[NhanVien] [nvarchar](15) NULL,
	[GhiChu] [nvarchar](150) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DieuKhoan]    Script Date: 12/28/2019 3:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DieuKhoan](
	[MaDieuKhoan] [nchar](10) NOT NULL,
	[MoTa] [nvarchar](50) NULL,
 CONSTRAINT [PK_DieuKhoanThanhToan] PRIMARY KEY CLUSTERED 
(
	[MaDieuKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DonVi]    Script Date: 12/28/2019 3:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonVi](
	[MaDonVi] [nchar](10) NOT NULL,
	[TenDonVi] [nchar](10) NULL,
	[GhiChu] [nvarchar](50) NULL,
	[ConQuanLy] [bit] NULL CONSTRAINT [DF_DonVi_ConQuanLy]  DEFAULT ((1)),
 CONSTRAINT [PK_DonVi] PRIMARY KEY CLUSTERED 
(
	[MaDonVi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Form]    Script Date: 12/28/2019 3:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Form](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_Form] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HinhThuc]    Script Date: 12/28/2019 3:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhThuc](
	[MaHinhThuc] [nchar](10) NOT NULL,
	[MoTa] [nvarchar](50) NULL,
 CONSTRAINT [PK_HinhThucThanhToan] PRIMARY KEY CLUSTERED 
(
	[MaHinhThuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDonBan]    Script Date: 12/28/2019 3:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonBan](
	[MaHD] [nvarchar](15) NOT NULL,
	[MaKH] [nvarchar](15) NULL,
	[TenKH] [nvarchar](50) NULL,
	[MaNV] [nvarchar](15) NULL,
	[NgayBan] [date] NULL,
	[TongTien] [float] NULL,
	[DaTra] [float] NULL,
	[ConLai] [float] NULL,
	[DieuKhoan] [nchar](10) NULL,
	[HinhThuc] [nchar](10) NULL,
	[DienGiai] [nvarchar](50) NULL,
	[IsCheck] [int] NULL CONSTRAINT [DF_HoaDonBan_IsCheck]  DEFAULT ((1)),
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDonNhap]    Script Date: 12/28/2019 3:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonNhap](
	[MaHD] [nvarchar](15) NOT NULL,
	[MaNCC] [nvarchar](15) NULL,
	[TenNCC] [nvarchar](255) NULL,
	[MaNV] [nvarchar](15) NULL,
	[NgayNhap] [datetime] NULL,
	[TongTien] [float] NULL,
	[DaTra] [float] NULL,
	[ConLai] [float] NULL,
	[DieuKhoan] [nchar](10) NULL,
	[HinhThuc] [nchar](10) NULL,
	[DienGiai] [nvarchar](50) NULL,
	[IsCheck] [int] NOT NULL CONSTRAINT [DF_HoaDonNhap_IsCheck]  DEFAULT ((1)),
 CONSTRAINT [PK_HoaDonNhap] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/28/2019 3:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [nvarchar](15) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Address] [nvarchar](100) NULL,
	[Number] [nvarchar](100) NULL,
	[MaKhuVuc] [nchar](10) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhoHang]    Script Date: 12/28/2019 3:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoHang](
	[MaKho] [nchar](10) NOT NULL,
	[TenKho] [nvarchar](100) NULL,
	[LienHe] [nvarchar](50) NULL,
	[DienThoai] [nchar](15) NULL,
	[GhiChu] [nvarchar](50) NULL,
	[ConQuanLy] [bit] NULL CONSTRAINT [DF_KhoHang_ConQuanLy]  DEFAULT ((1)),
 CONSTRAINT [PK_KhoHang] PRIMARY KEY CLUSTERED 
(
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhuVuc]    Script Date: 12/28/2019 3:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuVuc](
	[MaKhuVuc] [nchar](10) NOT NULL,
	[TenKhuVuc] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhuVuc] PRIMARY KEY CLUSTERED 
(
	[MaKhuVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 12/28/2019 3:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[MaLoaiHang] [nvarchar](10) NOT NULL,
	[TenLoaiHang] [nvarchar](100) NULL,
 CONSTRAINT [PK_LoaiHang] PRIMARY KEY CLUSTERED 
(
	[MaLoaiHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 12/28/2019 3:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [nvarchar](15) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[MoTa] [nvarchar](200) NULL,
	[MaKhuVuc] [nchar](10) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/28/2019 3:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](15) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[DienThoai] [nvarchar](15) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuChuyenKho]    Script Date: 12/28/2019 3:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuChuyenKho](
	[MaPhieu] [nchar](10) NULL,
	[Ngay] [datetime] NULL,
	[KhoXuatHang] [nvarchar](50) NULL,
	[KhoNhapHang] [nvarchar](50) NULL,
	[NguoiNhan] [nvarchar](50) NULL,
	[NguoiGui] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](150) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoleForm]    Script Date: 12/28/2019 3:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleForm](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[FormId] [int] NULL,
	[Access] [bit] NULL,
	[Insert] [bit] NULL,
	[Delete] [bit] NULL,
	[Update] [bit] NULL,
	[Print] [bit] NULL,
	[Import] [bit] NULL,
	[Export] [bit] NULL,
 CONSTRAINT [PK_RoleForm] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoleUser]    Script Date: 12/28/2019 3:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Descript] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 12/28/2019 3:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [nvarchar](15) NOT NULL,
	[TenSP] [nvarchar](50) NULL,
	[MoTa] [nvarchar](200) NULL,
	[HinhAnh] [nvarchar](200) NULL,
	[DonVi] [nchar](10) NULL,
	[SoLuong] [int] NULL,
	[GiaMua] [float] NULL,
	[GiaBanLe] [float] NULL,
	[GiaBanSi] [float] NULL,
	[Code] [nvarchar](30) NULL,
	[NhaCungCap] [nvarchar](15) NULL,
	[MaLoai] [nvarchar](10) NULL,
	[MaKho] [nchar](10) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 12/28/2019 3:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[RoleID] [int] NULL,
	[MaNV] [nvarchar](15) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ChiTietChungTuBan] ([MaCT], [MaHang], [TenHang], [KhoHang], [DVT], [SoLuong], [DonGia], [ThanhTien]) VALUES (N'HDB001    ', N'SP001     ', N'Mi Band 3', N'Kho Miền Đông', N'DV01      ', 2, 1000000, 2200000)
INSERT [dbo].[ChiTietChungTuMua] ([MaCT], [MaHang], [TenHang], [KhoHang], [DVT], [SoLuong], [DonGia], [ThanhTien]) VALUES (N'HDN001    ', N'SP025     ', N'Oppo 4K GZK', N'Kho Miền Đông', N'DV01      ', 2, 1000000, 2200000)
INSERT [dbo].[ChiTietChungTuMua] ([MaCT], [MaHang], [TenHang], [KhoHang], [DVT], [SoLuong], [DonGia], [ThanhTien]) VALUES (N'HDN002    ', N'SP007     ', N'Samsung Galaxy Gear Fit', N'Kho Miền Đông', N'DV01      ', 1, 1000000, 1100000)
INSERT [dbo].[ChiTietChungTuMua] ([MaCT], [MaHang], [TenHang], [KhoHang], [DVT], [SoLuong], [DonGia], [ThanhTien]) VALUES (N'HDN004    ', N'SP001     ', N'Mi Band 3', N'Kho Miền Đông', N'DV01      ', 2, 1000000, 2200000)
INSERT [dbo].[ChiTietHoaDonBan] ([MaHD], [MaSP], [TenSP], [DonVi], [SoLuong], [DonGia], [ThanhTien], [GhiChu]) VALUES (N'HDB001', N'SP001', N'Mi Band 3', N'DV01      ', 2, 1000000, 2200000, N'')
INSERT [dbo].[ChiTietHoaDonNhap] ([MaHD], [MaSP], [TenSP], [DonVi], [SoLuong], [DonGia], [ThanhTien], [GhiChu]) VALUES (N'HDN001', N'SP025', N'Oppo 4K GZK', N'DV01      ', 2, 1000000, 2200000, N'')
INSERT [dbo].[ChiTietHoaDonNhap] ([MaHD], [MaSP], [TenSP], [DonVi], [SoLuong], [DonGia], [ThanhTien], [GhiChu]) VALUES (N'HDN002', N'SP007', N'Samsung Galaxy Gear Fit', N'DV01      ', 1, 1000000, 1100000, N'')
INSERT [dbo].[ChiTietHoaDonNhap] ([MaHD], [MaSP], [TenSP], [DonVi], [SoLuong], [DonGia], [ThanhTien], [GhiChu]) VALUES (N'HDN004', N'SP001', N'Mi Band 3', N'DV01      ', 2, 1000000, 2200000, N'')
INSERT [dbo].[ChungTuBan] ([MaCT], [Ngay], [PhieuVietTay], [HoaDonVietTay], [NhaCungCap], [CK], [VAT], [ThanhToan], [GhiChu]) VALUES (N'HDB001    ', CAST(N'2019-12-16' AS Date), N'', N'', N'Hồ Thị Duyên', 0, 10, 2200000, N'')
INSERT [dbo].[ChungTuMua] ([MaCT], [Ngay], [PhieuVietTay], [HoaDonVietTay], [NhaCungCap], [CK], [VAT], [ThanhToan], [GhiChu]) VALUES (N'HDN001    ', CAST(N'2019-12-15' AS Date), N'', N'', N'Oppo', 0, 10, 2200000, N'')
INSERT [dbo].[ChungTuMua] ([MaCT], [Ngay], [PhieuVietTay], [HoaDonVietTay], [NhaCungCap], [CK], [VAT], [ThanhToan], [GhiChu]) VALUES (N'HDN002    ', CAST(N'2019-12-15' AS Date), N'', N'', N'SamSung', 0, 10, 1100000, N'')
INSERT [dbo].[ChungTuMua] ([MaCT], [Ngay], [PhieuVietTay], [HoaDonVietTay], [NhaCungCap], [CK], [VAT], [ThanhToan], [GhiChu]) VALUES (N'HDN003    ', CAST(N'2019-12-15' AS Date), N'', N'', N'SamSung', 0, 10, 6600000, N'')
INSERT [dbo].[DanhSachPhieuChi] ([Phieu], [MaCT], [Ngay], [KhachHang], [SoTien], [ConNo], [DaTra], [NhanVien], [GhiChu]) VALUES (N'PC001               ', N'HDN002    ', CAST(N'2019-12-15' AS Date), N'SamSung   ', 1100000, 1100000, 0, N'NV001', N'')
INSERT [dbo].[DanhSachPhieuThu] ([Phieu], [Ngay], [MaCT], [KhachHang], [SoTien], [ConNo], [DaTra], [NhanVien], [GhiChu]) VALUES (N'PT001     ', CAST(N'2019-12-16 21:47:57.000' AS DateTime), N'HDB001    ', N'Hồ Thị Duyên', 2200000, 2200000, 0, N'NV001', N'')
INSERT [dbo].[DieuKhoan] ([MaDieuKhoan], [MoTa]) VALUES (N'CN        ', N'Công Nợ')
INSERT [dbo].[DieuKhoan] ([MaDieuKhoan], [MoTa]) VALUES (N'TN        ', N'Thanh Toán Ngay')
INSERT [dbo].[DonVi] ([MaDonVi], [TenDonVi], [GhiChu], [ConQuanLy]) VALUES (N'DV01      ', N'Cái       ', NULL, 1)
INSERT [dbo].[DonVi] ([MaDonVi], [TenDonVi], [GhiChu], [ConQuanLy]) VALUES (N'DV02      ', N'Chiếc     ', NULL, 1)
INSERT [dbo].[DonVi] ([MaDonVi], [TenDonVi], [GhiChu], [ConQuanLy]) VALUES (N'DV03      ', N'Cây       ', NULL, 1)
SET IDENTITY_INSERT [dbo].[Form] ON 

INSERT [dbo].[Form] ([Id], [Name], [Description]) VALUES (1, N'frmHangHoa', N'Quản Lý Sản Phẩm')
INSERT [dbo].[Form] ([Id], [Name], [Description]) VALUES (2, N'frmNhaCungCap', N'Quản Lý Nhà Sản Xuất')
INSERT [dbo].[Form] ([Id], [Name], [Description]) VALUES (3, N'frmNVien', N'Quản Lý Người Dùng')
SET IDENTITY_INSERT [dbo].[Form] OFF
INSERT [dbo].[HinhThuc] ([MaHinhThuc], [MoTa]) VALUES (N'CK        ', N'Chuyển Khoản')
INSERT [dbo].[HinhThuc] ([MaHinhThuc], [MoTa]) VALUES (N'TM        ', N'Tiền Mặt')
INSERT [dbo].[HoaDonBan] ([MaHD], [MaKH], [TenKH], [MaNV], [NgayBan], [TongTien], [DaTra], [ConLai], [DieuKhoan], [HinhThuc], [DienGiai], [IsCheck]) VALUES (N'HDB001', N'KH001', N'Hồ Thị Duyên', N'NV001', CAST(N'2019-12-16' AS Date), 2200000, 0, 2200000, N'TN        ', N'CK        ', N'', 0)
INSERT [dbo].[HoaDonNhap] ([MaHD], [MaNCC], [TenNCC], [MaNV], [NgayNhap], [TongTien], [DaTra], [ConLai], [DieuKhoan], [HinhThuc], [DienGiai], [IsCheck]) VALUES (N'HDN001', N'NCC002', N'Oppo', N'NV001', CAST(N'2019-12-15 22:48:17.497' AS DateTime), 2200000, 0, 2200000, N'CN        ', N'CK        ', N'', 1)
INSERT [dbo].[HoaDonNhap] ([MaHD], [MaNCC], [TenNCC], [MaNV], [NgayNhap], [TongTien], [DaTra], [ConLai], [DieuKhoan], [HinhThuc], [DienGiai], [IsCheck]) VALUES (N'HDN002', N'NCC003', N'SamSung', N'NV001', CAST(N'2019-12-15 22:49:13.743' AS DateTime), 1100000, 0, 1100000, N'TN        ', N'CK        ', N'', 0)
INSERT [dbo].[HoaDonNhap] ([MaHD], [MaNCC], [TenNCC], [MaNV], [NgayNhap], [TongTien], [DaTra], [ConLai], [DieuKhoan], [HinhThuc], [DienGiai], [IsCheck]) VALUES (N'HDN003', N'NCC003', N'SamSung', N'NV001', CAST(N'2019-12-15 22:50:10.527' AS DateTime), 6600000, 0, 6600000, N'CN        ', N'CK        ', N'', 1)
INSERT [dbo].[KhachHang] ([MaKH], [Name], [Address], [Number], [MaKhuVuc]) VALUES (N'KH001', N'Hồ Thị Duyên', N'123 Điện Biên Phủ', N'0123456789', N'MB        ')
INSERT [dbo].[KhachHang] ([MaKH], [Name], [Address], [Number], [MaKhuVuc]) VALUES (N'KH002', N'Trần Văn Cường', N'125 Lê Đức Thọ', N'0126584239', N'MT        ')
INSERT [dbo].[KhachHang] ([MaKH], [Name], [Address], [Number], [MaKhuVuc]) VALUES (N'KH003', N'Trần Linh Vương', N'34 Lê Văn Sĩ', N'0125478965', N'MN        ')
INSERT [dbo].[KhoHang] ([MaKho], [TenKho], [LienHe], [DienThoai], [GhiChu], [ConQuanLy]) VALUES (N'KHO1      ', N'Kho Miền Đông', NULL, NULL, NULL, NULL)
INSERT [dbo].[KhoHang] ([MaKho], [TenKho], [LienHe], [DienThoai], [GhiChu], [ConQuanLy]) VALUES (N'KHO2      ', N'Kho Miền Tây', NULL, NULL, NULL, NULL)
INSERT [dbo].[KhoHang] ([MaKho], [TenKho], [LienHe], [DienThoai], [GhiChu], [ConQuanLy]) VALUES (N'KHO3      ', N'Test', N'', N'               ', N'', 1)
INSERT [dbo].[KhuVuc] ([MaKhuVuc], [TenKhuVuc]) VALUES (N'          ', N'')
INSERT [dbo].[KhuVuc] ([MaKhuVuc], [TenKhuVuc]) VALUES (N'1         ', N'd')
INSERT [dbo].[KhuVuc] ([MaKhuVuc], [TenKhuVuc]) VALUES (N'MB        ', N'Miền Bắc')
INSERT [dbo].[LoaiSanPham] ([MaLoaiHang], [TenLoaiHang]) VALUES (N'DHTM', N'Đồng Hồ Thông Minh')
INSERT [dbo].[LoaiSanPham] ([MaLoaiHang], [TenLoaiHang]) VALUES (N'DTDD', N'Điện Thoại Di Động')
INSERT [dbo].[LoaiSanPham] ([MaLoaiHang], [TenLoaiHang]) VALUES (N'TVTM', N'Ti Vi Thông Minh')
INSERT [dbo].[NhaCungCap] ([MaNCC], [Ten], [MoTa], [MaKhuVuc]) VALUES (N'NCC001', N'Apple', N'Apple', N'MB        ')
INSERT [dbo].[NhaCungCap] ([MaNCC], [Ten], [MoTa], [MaKhuVuc]) VALUES (N'NCC002', N'Oppo', N'Oppo', N'MT        ')
INSERT [dbo].[NhaCungCap] ([MaNCC], [Ten], [MoTa], [MaKhuVuc]) VALUES (N'NCC003', N'SamSung', N'SamSung', N'MT        ')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [DiaChi], [DienThoai]) VALUES (N'NV001', N'Hồ Tấn Phát', N'87 Hoàng Hoa Thám', N'0968741253')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [DiaChi], [DienThoai]) VALUES (N'NV002', N'Admin', N'1 Hồ Văn Huê', N'0123456789')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [DiaChi], [DienThoai]) VALUES (N'NV003', N'Trần Hoàng Duy', N'123 Năm Châu', N'0365214785')
INSERT [dbo].[PhieuChuyenKho] ([MaPhieu], [Ngay], [KhoXuatHang], [KhoNhapHang], [NguoiNhan], [NguoiGui], [GhiChu]) VALUES (N'HD001     ', CAST(N'2019-12-16 00:00:00.000' AS DateTime), N'', N'', N'Admin', N'Hồ Tấn Phát', N'')
INSERT [dbo].[PhieuChuyenKho] ([MaPhieu], [Ngay], [KhoXuatHang], [KhoNhapHang], [NguoiNhan], [NguoiGui], [GhiChu]) VALUES (N'HD002     ', CAST(N'2019-12-16 00:00:00.000' AS DateTime), N'Kho Miền Tây', N'Test', N'Admin', N'Hồ Tấn Phát', N'')
INSERT [dbo].[PhieuChuyenKho] ([MaPhieu], [Ngay], [KhoXuatHang], [KhoNhapHang], [NguoiNhan], [NguoiGui], [GhiChu]) VALUES (N'HD002     ', CAST(N'2019-12-16 00:00:00.000' AS DateTime), N'Kho Miền Tây', N'Test', N'Admin', N'Hồ Tấn Phát', N'')
SET IDENTITY_INSERT [dbo].[RoleForm] ON 

INSERT [dbo].[RoleForm] ([Id], [RoleId], [FormId], [Access], [Insert], [Delete], [Update], [Print], [Import], [Export]) VALUES (1, 1, 1, 1, 0, 0, 0, 1, 0, 1)
INSERT [dbo].[RoleForm] ([Id], [RoleId], [FormId], [Access], [Insert], [Delete], [Update], [Print], [Import], [Export]) VALUES (2, 1, 2, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[RoleForm] ([Id], [RoleId], [FormId], [Access], [Insert], [Delete], [Update], [Print], [Import], [Export]) VALUES (3, 1, 3, 0, 0, 0, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[RoleForm] OFF
SET IDENTITY_INSERT [dbo].[RoleUser] ON 

INSERT [dbo].[RoleUser] ([Id], [Name], [Descript]) VALUES (1, N'Người Dùng', N'Cấp cho người dùng bình thường')
INSERT [dbo].[RoleUser] ([Id], [Name], [Descript]) VALUES (2, N'Quản Lý', N'Cấp cho bộ phận quản lý')
INSERT [dbo].[RoleUser] ([Id], [Name], [Descript]) VALUES (3, N'Admin', N'Admin')
SET IDENTITY_INSERT [dbo].[RoleUser] OFF
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MoTa], [HinhAnh], [DonVi], [SoLuong], [GiaMua], [GiaBanLe], [GiaBanSi], [Code], [NhaCungCap], [MaLoai], [MaKho]) VALUES (N'SP001', N'Mi Band 3', N'Đồng Hồ Thông Minh', NULL, N'DV01      ', 160, 1000000, 1000000, 1000000, N'MB3', N'NCC005', N'DHTM', N'KHO2      ')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MoTa], [HinhAnh], [DonVi], [SoLuong], [GiaMua], [GiaBanLe], [GiaBanSi], [Code], [NhaCungCap], [MaLoai], [MaKho]) VALUES (N'SP002', N'Mi Band 4', N'Đồng Hồ Thông Minh', NULL, N'DV01      ', 23, 1000000, 1000000, 1000000, N'MB4', N'NCC005', N'DHTM', N'KHO1      ')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MoTa], [HinhAnh], [DonVi], [SoLuong], [GiaMua], [GiaBanLe], [GiaBanSi], [Code], [NhaCungCap], [MaLoai], [MaKho]) VALUES (N'SP003', N'Huawei Watch GT2', N'Đồng Hồ Thông Minh', NULL, N'DV01      ', 10, 1000000, 1000000, 1000000, N'HWGT2', N'NCC004', N'DHTM', N'KHO2      ')
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [UserName], [Password], [RoleID], [MaNV]) VALUES (1, N'htphat', N'123', 3, N'NV001')
INSERT [dbo].[User] ([Id], [UserName], [Password], [RoleID], [MaNV]) VALUES (2, N'admin', N'123', 3, N'NV002')
INSERT [dbo].[User] ([Id], [UserName], [Password], [RoleID], [MaNV]) VALUES (3, N'ntdam', N'123', 2, N'NV003')
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[ChiTietHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietHoaDonBan] CHECK CONSTRAINT [FK_ChiTietHoaDon_SanPham]
GO
ALTER TABLE [dbo].[ChiTietHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDonBan_DonVi] FOREIGN KEY([DonVi])
REFERENCES [dbo].[DonVi] ([MaDonVi])
GO
ALTER TABLE [dbo].[ChiTietHoaDonBan] CHECK CONSTRAINT [FK_ChiTietHoaDonBan_DonVi]
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDonNhap_DonVi] FOREIGN KEY([DonVi])
REFERENCES [dbo].[DonVi] ([MaDonVi])
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhap] CHECK CONSTRAINT [FK_ChiTietHoaDonNhap_DonVi]
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDonNhap_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhap] CHECK CONSTRAINT [FK_ChiTietHoaDonNhap_SanPham]
GO
ALTER TABLE [dbo].[HoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDonBan] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBan_DieuKhoanThanhToan] FOREIGN KEY([DieuKhoan])
REFERENCES [dbo].[DieuKhoan] ([MaDieuKhoan])
GO
ALTER TABLE [dbo].[HoaDonBan] CHECK CONSTRAINT [FK_HoaDonBan_DieuKhoanThanhToan]
GO
ALTER TABLE [dbo].[HoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBan_HinhThucThanhToan] FOREIGN KEY([HinhThuc])
REFERENCES [dbo].[HinhThuc] ([MaHinhThuc])
GO
ALTER TABLE [dbo].[HoaDonBan] CHECK CONSTRAINT [FK_HoaDonBan_HinhThucThanhToan]
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonNhap_DieuKhoanThanhToan] FOREIGN KEY([DieuKhoan])
REFERENCES [dbo].[DieuKhoan] ([MaDieuKhoan])
GO
ALTER TABLE [dbo].[HoaDonNhap] CHECK CONSTRAINT [FK_HoaDonNhap_DieuKhoanThanhToan]
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonNhap_HinhThucThanhToan] FOREIGN KEY([HinhThuc])
REFERENCES [dbo].[HinhThuc] ([MaHinhThuc])
GO
ALTER TABLE [dbo].[HoaDonNhap] CHECK CONSTRAINT [FK_HoaDonNhap_HinhThucThanhToan]
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonNhap_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[HoaDonNhap] CHECK CONSTRAINT [FK_HoaDonNhap_NhaCungCap]
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonNhap_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDonNhap] CHECK CONSTRAINT [FK_HoaDonNhap_NhanVien]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_KhuVuc] FOREIGN KEY([MaKhuVuc])
REFERENCES [dbo].[KhuVuc] ([MaKhuVuc])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_KhuVuc]
GO
ALTER TABLE [dbo].[NhaCungCap]  WITH CHECK ADD  CONSTRAINT [FK_NhaCungCap_KhuVuc] FOREIGN KEY([MaKhuVuc])
REFERENCES [dbo].[KhuVuc] ([MaKhuVuc])
GO
ALTER TABLE [dbo].[NhaCungCap] CHECK CONSTRAINT [FK_NhaCungCap_KhuVuc]
GO
ALTER TABLE [dbo].[RoleForm]  WITH CHECK ADD  CONSTRAINT [FK_RoleForm_Form] FOREIGN KEY([FormId])
REFERENCES [dbo].[Form] ([Id])
GO
ALTER TABLE [dbo].[RoleForm] CHECK CONSTRAINT [FK_RoleForm_Form]
GO
ALTER TABLE [dbo].[RoleForm]  WITH CHECK ADD  CONSTRAINT [FK_RoleForm_RoleUser] FOREIGN KEY([RoleId])
REFERENCES [dbo].[RoleUser] ([Id])
GO
ALTER TABLE [dbo].[RoleForm] CHECK CONSTRAINT [FK_RoleForm_RoleUser]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DonVi] FOREIGN KEY([DonVi])
REFERENCES [dbo].[DonVi] ([MaDonVi])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DonVi]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_KhoHang] FOREIGN KEY([MaKho])
REFERENCES [dbo].[KhoHang] ([MaKho])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_KhoHang]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiSanPham] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiSanPham] ([MaLoaiHang])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_LoaiSanPham]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NhaCungCap] FOREIGN KEY([NhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NhaCungCap]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_NhanVien]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_RoleUser] FOREIGN KEY([RoleID])
REFERENCES [dbo].[RoleUser] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_RoleUser]
GO
/****** Object:  StoredProcedure [dbo].[CapNhatHang]    Script Date: 12/28/2019 3:05:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[CapNhatHang] (@MaSP nvarchar(15),@SoLuongMua int)
as
begin
	declare @s int
	set @s = dbo.MuaHang(@MaSP,@SoLuongMua)
	update SanPham set SoLuong=@s where MaSP = @MaSP
end
GO
/****** Object:  StoredProcedure [dbo].[ChuyenKho]    Script Date: 12/28/2019 3:05:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ChuyenKho] @MaSP nvarchar(15),@MaKho nchar(10)
as
begin
	update SanPham set MaKho=@MaKho where MaSP=@MaSP
end
GO
USE [master]
GO
